[Default]
# Namespace of the metadata to use as variables for Ansible
# When the same tenant is used for more than one project,
# each project should have its own config file and metadata_namespace
# When user wants to put a host variable
#   key: value
# to a VM, he must set the VM's metadata as follows:
# <metadata_namespace>key=value
# For instance:
# metadata_namespace = "myplatform:"
# VM's Metadata:
#   myplatform:ansible_user=ubuntu
# Default is "ansible:"
metadata_namespace = "ansible:"

# Key folder containing all the keys
# Default value is "." (current folder)
# key_folder = .

[Authentication]
# OpenStack authentication credentials
# Will be overriden by environment variables
os_username = my_username
os_tenant_name = my_project
os_tenant_id = f55ac58135268ce7867511a365ab2568
os_auth_url = https://keystone:5000/v2.0
os_password = my_secret_password

[Template]
# Additional inventory information can be added into a JSON file
# It is recommended to put all static information (e.g. group hierarchy,
# group variables) into a JSON and keep minimal information on OpenStack's VMs
template_file = ~/.ansible/openstack_template.json
